# connect to db
write-to-db/db_config.txt
express-app/.env

# dependencies
express-app/node_modules/

.vscode/

# Not needed
write-to-db/not_used/
write-to-db/log.json
write-to-db/big5_log.json
write-to-db/offset.txt
write-to-db/big5_offset.txt