# connect to db
processor_collector/db_config.txt
express-app/.env

# dependencies
express-app/node_modules/
express-app/__pycache__/

.vscode/

# Not needed
processor_collector/not_used/
processor_collector/old_simulation_clients/
processor_collector/old_processor_collector/
# processor_collector/*.json